## Group Assignment
### Team Number: XX
### Team Member Names: Derek Tan, Jeff Peng, Yuqian Lin
### Team Strategy Chosen: SAFE

### Abstract

Our portfolio optimization strategy involves the use and implementation of the Modern Portfolio Theory (MPT) and analysis of the Efficient Frontier graphs.

The objective of the portfolio optimization strategy is to maximize the portfolio return while maintaining the minimum portfolio risk. 

Modern Portfolio Theory states that since it is assumed that all investors are risk-adverse, when considering the possible portfolio allocation strategies, the investor will prefer the portfolio that maximizes the possible return while maintaining a given amount of risk.

The Efficient Frontier is a graph that illustrates all possible portfolios portfolio allocation distributions. The x-axis represents the volatility of the portfolio, while the y-axis represents the expected return of the portfolio.

The Efficient Frontier shows the optimized portfolios that offer the highest expected return for a given level of risk and the lowest level of risk for a given level of expected return.

An example of the an Efficient Frontier graph is shown below.

[insert image here]

In [70]:
from IPython.display import display, Math, Latex
from datetime import datetime

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt

[**********************90%******************     ]  9 of 10 completed

In [71]:
# Import Financial Data

tickers = pd.read_csv('Tickers.csv', index_col=False)

start_date = '2018-01-01'
end_date = '2021-10-31'

tickers = ['MSFT', 'AAPL', 'TWTR', 'INTC', 'TSM', 'GOOG', 'AMZN', 'FB', 'NVDA', 'TSLA']

data = yf.download(tickers, start=start_date, end=end_date)

data.head()

[*********************100%***********************]  10 of 10 completed

            Adj Close                                                   \
                 AAPL         AMZN          FB         GOOG       INTC
Date
2018-01-02  41.188156  1189.010010  181.419998  1065.000000  42.406261
2018-01-03  41.180992  1204.199951  184.669998  1082.479980  40.967064
2018-01-04  41.372276  1209.589966  184.330002  1086.400024  40.215809
2018-01-05  41.843311  1229.140015  186.850006  1102.229980  40.496403
2018-01-08  41.687889  1246.869995  188.279999  1106.939941  40.496403

                                                                   ...  \
                 MSFT       NVDA       TSLA        TSM       TWTR  ...
Date                                                               ...
2018-01-02  81.848274  49.386845  64.106003  36.381706  24.510000  ...
2018-01-03  82.229195  52.637196  63.450001  36.993683  24.450001  ...
2018-01-04  82.952934  52.914654  62.924000  36.798565  23.990000  ...
2018-01-05  83.981384  53.363064  63.316002  37.658875  24.320000  ...
2018-01-08  84.067093  54.998142  67.281998  37.641144  24.590000  ...

               Volume                                                   \
                 AAPL     AMZN        FB     GOOG       INTC      MSFT
Date
2018-01-02  102223600  2694500  18151900  1237600   23370800  22483800
2018-01-03  118071600  3108800  16886600  1430200  116479000  26061400
2018-01-04   89738400  3022100  13880900  1004600   89209100  21912000
2018-01-05   94640000  3544700  13574500  1279100   41824000  23407100
2018-01-08   82271200  4279500  17994700  1047600   33733800  22113000


                NVDA      TSLA      TSM      TWTR
Date
2018-01-02  35561600  21761000  4984000  15297200
2018-01-03  91470400  22607500  6963200  12832600
2018-01-04  58326800  49731500  4876600  17653500
2018-01-05  58012400  22956000  5330800  14953200
2018-01-08  88121600  49297000  3538200  17831300

[5 rows x 60 columns]

In [29]:
# Calculate percent change

closing_prices = data['Adj Close']

percent_change = closing_prices.pct_change().apply(lambda x: np.log(1+x))

percent_change.head()

,AAPL,AMZN,FB,GOOG,INTC,MSFT,NVDA,TSLA,TSM,TWTR
Date,,,,,,,,,,
2018-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,-0.000174,0.012694,0.017756,0.016280,-0.034527,0.004643,0.063739,-0.010286,0.016681,-0.002451
2018-01-04,0.004634,0.004466,-0.001843,0.003615,-0.018509,0.008763,0.005257,-0.008325,-0.005289,-0.018993
2018-01-05,0.011321,0.016033,0.013579,0.014466,0.006953,0.012322,0.008439,0.006210,0.023110,0.013662
2018-01-08,-0.003721,0.014322,0.007624,0.004264,0.000000,0.001020,0.030181,0.060755,-0.000471,0.011041

In [88]:
# Calculate Variance

variance_dict = {}

for ticker in tickers:
    variance = percent_change[ticker].var()
    variance_dict[ticker] = variance

variance_dict

{'MSFT': 0.0003607214188729646,
 'AAPL': 0.0004370810844901074,
 'TWTR': 0.0011377357598126455,
 'INTC': 0.0005932920355358003,
 'TSM': 0.00045270440813785994,
 'GOOG': 0.0003451357036057506,
 'AMZN': 0.00039142037410485367,
 'FB': 0.0005323320295534047,
 'NVDA': 0.0009251070405249173,
 'TSLA': 0.0016703712423389197}

In [92]:
# Calculate Volatility

trading_days_per_year = 250

volatility_dict = {}

for ticker in tickers:
    volatility = np.sqrt(variance_dict[ticker] * trading_days_per_year)
    volatility_dict[ticker] = volatility
    
volatility_dict

{'MSFT': 0.30030044075598883,
 'AAPL': 0.33056054078266334,
 'TWTR': 0.5333234852818328,
 'INTC': 0.38512726323119484,
 'TSM': 0.3364165602857044,
 'GOOG': 0.2937412567233919,
 'AMZN': 0.31281798785589904,
 'FB': 0.3648054377176294,
 'NVDA': 0.48091242459644284,
 'TSLA': 0.6462142141617824}

In [ ]:
# Calculate Covariance

covariance = []

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

[insert names here]