## Group Assignment
### Team Number: XX
### Team Member Names: Derek Tan, Jeff Peng, Yuqian Lin
### Team Strategy Chosen: SAFE

### Abstract

Our portfolio optimization strategy involves the use and implementation of the Modern Portfolio Theory (MPT) and analysis of the Efficient Frontier graphs.

The objective of the portfolio optimization strategy is to maximize the portfolio return while maintaining the minimum portfolio risk. 

Modern Portfolio Theory states that since it is assumed that all investors are risk-adverse, when considering the possible portfolio allocation strategies, the investor will prefer the portfolio that maximizes the possible return while maintaining a given amount of risk.

The Efficient Frontier is a graph that illustrates all possible portfolios portfolio allocation distributions. The x-axis represents the volatility of the portfolio, while the y-axis represents the expected return of the portfolio.

The Efficient Frontier shows the optimized portfolios that offer the highest expected return for a given level of risk and the lowest level of risk for a given level of expected return.

An example of the an Efficient Frontier graph is shown below.

[insert image here]

In [2]:
from IPython.display import display, Math, Latex
from datetime import datetime

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt

In [10]:
# Import Financial Data

tickers = pd.read_csv('Tickers.csv', index_col=False)

start_date = '2018-01-01'
end_date = '2021-10-31'oxi

tickers = ['msft', 'aapl', 'twtr', 'intc', 'tsm', 'goog', 'amzn', 'fb', 'nvda', 'tsla']

data = yf.download(tickers, start=start_date, end=end_date)

data = data['Adj Close']

data.head()

# percent_change = data.pct_change().apply(lambda x: np.log(1+x))

# percent_change

[*********************100%***********************]  10 of 10 completed

,AAPL,AMZN,FB,GOOG,INTC,MSFT,NVDA,TSLA,TSM,TWTR
Date,,,,,,,,,,
2018-01-02,41.248272,1189.010010,181.419998,1065.000000,42.406261,81.848267,49.386848,64.106003,36.381706,24.510000
2018-01-03,41.241093,1204.199951,184.669998,1082.479980,40.967079,82.229195,52.637192,63.450001,36.993683,24.450001
2018-01-04,41.432652,1209.589966,184.330002,1086.400024,40.215801,82.952927,52.914654,62.924000,36.798561,23.990000
2018-01-05,41.904385,1229.140015,186.850006,1102.229980,40.496395,83.981407,53.363064,63.316002,37.658875,24.320000
2018-01-08,41.748734,1246.869995,188.279999,1106.939941,40.496395,84.067085,54.998150,67.281998,37.641140,24.590000

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

[insert names here]